@page
@model RegisterModel
@using SistemaInventario.Utilidades
@{
    ViewData["Title"] = "Register";
}


<div class="container">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2>Create a new account.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Nombres" class="form-control" aria-required="true" />
                    <label asp-for="Input.Nombres">Nombres</label>
                    <span asp-validation-for="Input.Nombres" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Apellidos" class="form-control" aria-required="true" />
                    <label asp-for="Input.Apellidos">Apellidos</label>
                    <span asp-validation-for="Input.Apellidos" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Direccion" class="form-control" aria-required="true" />
                    <label asp-for="Input.Direccion">Direccion</label>
                    <span asp-validation-for="Input.Direccion" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Ciudad" class="form-control" aria-required="true" />
                    <label asp-for="Input.Ciudad">Ciudad</label>
                    <span asp-validation-for="Input.Ciudad" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Pais" class="form-control" aria-required="true" />
                    <label asp-for="Input.Pais">Pais</label>
                    <span asp-validation-for="Input.Pais" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" />
                    <label asp-for="Input.PhoneNumber">Telefono</label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                @if(User.IsInRole(DS.Role_Admin))
                {
                    <div class="form-floating mb-3">
                        <lable asp-for="Input.Role">Rol</lable>
                        <select asp-for="Input.Role" class="form-select" asp-items="@Model.Input.ListaRol">
                            <option value="">--Seleccione el Rol--</option>
                        </select>
                    </div>
                }

                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h3>Use another service to register.</h3>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                    article
                                    about setting up this ASP.NET application to support logging in via external services
                                </a>.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
