@model SistemaInventario.Modelos.Especificaciones.PagedList<SistemaInventario.Modelos.Producto>
@using SistemaInventario.Utilidades
@{
    ViewData["Title"] = "Home Page";
}

<header class="header">
    <div class="container pt-sm-5">
        <div class="heading-primary">
            Los Mejores Productos & <br />
            Marcas en nuestra Tienda
        </div>
    </div>
</header>


<section>
    <div class="container my-2">
        <form asp-action="Index" method="get">
            <div class="col-lg-6 col-md-6 col-sm-6 d-flex">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscar ..." aria-label="Buscar" aria-describedby="button-addon2"
                      name="busqueda" value="@ViewData["BusquedaActual"]"
                    />
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <div class="row">
            @foreach(var producto in Model)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                    <div class="card w-100 my-2">
                        <img src="@DS.ImagenRuta@producto.ImagenUrl" class="card-img-top" style="aspect-ratio: 1 / 1"/>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@producto.Descripcion</h5>
                            <p class="card-text"> $ @String.Format("{0:#,##0.00}", producto.Precio) </p>
                            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto bg-white">
                                <a asp-action="Detalle" asp-route-id="@producto.Id" class="btn btn-outline-primary">
                                    <i class="bi bi-tags-fill"></i> Detalle
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <a asp-action="Index"
           asp-route-pageNumber="@(1)" class="btn btn-outline-primary"
           asp-route-busquedaActual="@ViewData["BusquedaActual"]"
           >
            <i class="bi bi-skip-start-fill"></i>
        </a>

        <a asp-action="Index"
           asp-route-pageNumber="@((int)ViewData["PageNumber"]-1)" class="btn btn-outline-primary @ViewData["Previo"]"
           asp-route-busquedaActual="@ViewData["BusquedaActual"]">
            Anterior
        </a>
        <span>Pagina @ViewData["PageNumber"] de @ViewData["TotalPaginas"]</span>
        <a asp-action="Index"
           asp-route-pageNumber="@((int)ViewData["PageNumber"] +1)" class="btn btn-outline-primary @ViewData["Siguiente"]"
           asp-route-busquedaActual="@ViewData["BusquedaActual"]">
            Siguiente
        </a>
        <a asp-action="Index"
           asp-route-pageNumber="@ViewData["TotalPaginas"]" class="btn btn-outline-primary"
           asp-route-busquedaActual="@ViewData["BusquedaActual"]">
            <i class="bi bi-skip-end-fill"></i>
        </a>
    </div>

</section>